<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Books</title>
    <link rel="stylesheet" href="/books-style/all-books.css" />
  </head>
  <body>
    <header>
      <nav><%- include('../partials/navbar') %></nav>

      <h1>BOOK RECOMMEND</h1>

      <div class="services">
        <% if (user && !user.isGuest) { %>
        <a href="/books/new">Add a Book Recommendation</a>
        <a href="/books/myBooks">My Books</a>
        <a href="/books/reading-list">My Reading List</a>
      </div>
      <% }else{ %>
      <style>
        header {
          width: 100vw;
          height: 100%;
        }
        .genres {
          margin-left: -55px; 
          margin-top: 60px;
          width: 100vw;
        }

        .books{
          margin-top: 20px;
        }
      </style>
      <%}%> 
      
      <% const bookGenres = ["Drama", "Comedy", "Action", "Horror",
      "Sci-fi", "Western", "Romance", "Thriller"," Fantasy", "Apocalypse",
      "Martial arts", "Sports"]%>

      <div class="genres">
        <%bookGenres.forEach((genre) => {%>
        <a href="books/genre/<%= genre %>"><%= genre %></a>
        <%})%>
      </div>
    </header>

    <div class="books">
      <% allBooks.forEach((book)=> {%>
      <div class="book">
        <h2><%= book.title%></h2>
        <p><strong>Author: </strong> <%= book.author%></p>
        <p><strong>Rating: </strong> <%= book.rating%>/5</p>
        <p><strong>Genre:</strong> <%= book.genre%></p>
        <a href="/books/<%= book._id%>" class="details">View Details</a>
      </div>
      <%})%>
    </div>
  </body>
</html>