<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>
<body>
    <%- include('../partials/navbar') %>

       <% const bookGenres = ["Drama", "Comedy", "Action", "Horror", "Sci-fi", "Western", "Romance", "Thriller"," Fantasy", "Apocalypse", "Martial arts", "Sports"]%>
       <ul>
            <%bookGenres.forEach((genre) => {%>
            <li><a href="books/genre/<%= genre %>"><%= genre %></a></li>
            <%})%>
            </ul>

    <h1>All Books</h1>

    <a href="/books/new">Add a book Recomindation</a>
    <a href="/books/myBooks">My Books</a>
    <a href="/books/reading-list">My Reading List</a>

    <% allBooks.forEach((book)=> {%>
     <h2><%= book.title%></h2>
     <p>Author: <%= book.author%></p>
     <p>Rating: <%= book.rating%>/5</p>
     <p>Genre: <%= book.genre%></p>
     <a href="/books/<%= book._id%>">View Details</a>
     <hr>
    <%})%>
    
</body>
</html>