<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundBook.title%></title>
  </head>
  <body>
     <%- include('../partials/navbar') %>
    <a href="/books">All books</a>

    <h1><%= foundBook.title%></h1>
    <p>Author: <%= foundBook.author%></p>
    <p>Rating: <%= foundBook.rating%>/5</p>
    <p>Price: <%= foundBook.price%></p>
    <p>Puplishment year: <%= foundBook.year%></p>
    <p>Genre: <%= foundBook.genre%></p>
    <p>Reason for Recomindation: <br> <%= foundBook.reason%></p>

    <form action="/books/<%= foundBook._id%>/edit" method="get">
    <button type="submit">Update information</button>
    </form>

    <form action="/books/<%= foundBook._id%>/delete/?_method=DELETE" method="post">
        <button type="submit">Delete Book</button>
    </form>
  </body>
</html>
