<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundBook.title%></title>
  </head>
  <body>

    <h1><%= foundBook.title%></h1>
    <p>Author: <%= foundBook.author%></p>
    <p>Rating: <%= foundBook.rating%></p>
    <p>Price: <%= foundBook.price%></p>
    <p>Puplishment year: <%= foundBook.year%></p>
    <p>Genre: <%= foundBook.genre%></p>
    <p>Reason for Recomindation: <br> <%= foundBook.reason%></p>

  </body>
</html>
