<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundBook.title%></title>
    <link rel="stylesheet" href="/books-style/book-details.css">
  </head>
  <body>
     <header>
      <div class="navbar">
    <%- include('../partials/navbar') %>
    </div>
    <a href="/books">All books</a>
    </header> 

    <div class="container">
    <h1><%= foundBook.title%></h1>
    <p><strong>Author:</strong> <%= foundBook.author%></p>
    <p> <strong>Rating:</strong>  <%= foundBook.rating%>/5</p>
    <p><strong>Price:</strong> <%= foundBook.price%> BD</p>
    <p><strong>Puplishment year:</strong> <%= foundBook.year%></p>
    <p><strong>Genre:</strong> <%= foundBook.genre%></p>

    <p class="reason"><strong>Reason for Recomindation:</strong><br> <%= foundBook.reason%></p>

  <div class="buttons">
  
    <% if (user && !user.isGuest) { %>
  <form action="/books/<%= foundBook._id %>/reading-list" method="POST">
  <button type="submit">Add to Reading List</button>
  </form>
  <%}%>
  </div>
  </div>


    


  </body>
</html>
