<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <%- include('../partials/navbar') %>
    <a href="/books">All books</a>
    
    <h1><%= genre%> Books</h1>
    <% books.forEach((book)=>{%>
    <h2><%= book.title%></h1>
    <p>Author: <%= book.author%></p>
    <p>Rating: <%= book.rating%>/5</p>
    <p>Price: <%= book.price%></p>
    <p>Puplishment year: <%= book.year%></p>
    <p>Reason for Recomindation: <br> <%= book.reason%></p>
    <hr>
    <%})%>


</body>
</html>